In [4]:
import pandas as pd

df = pd.read_csv("./pandas/jeju.csv", sep="\t", encoding="euc-kr")

df.head(5)

  id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0  22448,2018-01-01,제주시,도두동,32249.987,3418.265999...
1  22449,2018-01-01,제주시,외도동,213500.997,10341.1719...
2  22450,2018-01-01,제주시,이도2동,1212382.2179999999,9...
3  22451,2018-01-01,제주시,일도1동,33991.653,6034.25300...
4  22452,2018-01-01,서귀포시,대천동,155036.925,9403.9690...